/* réinitialisation du navigateur*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #55d69a;
    --bs-teal: #42ffc6;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

/* en-tete*/

.nav-link{
    color: black;
    font-size: larger;
    font-weight: bold;
}
.nav-link:hover{
    color: blue !important;
}

/* corps du document*/

body{
    background-image: url("../images/bouddha.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;   
}

main{
    flex-grow: 1;
    height: 100%;
    overflow: auto;

}

.display-1{
    color: darkblue;
    
    font-weight: bold;
}
.display-2{
    color: white;
    
    font-weight: bold;
}
.presentation{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

iframe{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* contact */

.form-control{
    background-color: var(--bs-green);
}

/* paiement */
.container{
    
    width: 75%;
    margin: auto;
    padding-bottom: 5px;
}

.form-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    
    width: 50%;
    margin: auto;
    
}

.form-select{
    background-color: var(--bs-green);
}

#button{
    width: 10%;
    margin: auto;
}

/*pied de page*/
footer{
    
    background-color: var(--bs-green);
    font-size: 1.25rem;
}

.copy{
    color: red;
    font-weight: bolder;
    text-align: center;   
}

.ML{
    color: black;
    font-weight: bolder;
    text-align: center;
}
.ML:hover{
    color: blue;
}

@media all and (min-width:576px) and (max-width:1400px) {
    body{
        background-image: url("../images/bouddha.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
        width:100%;
    } 
    
}
